@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Urbanist', 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
}

.bio-text{
    font-family: 'Urbanist';
}